body{
  /*background-color: blue;*/
  background: linear-gradient(60deg, blue, red);
  text-align: center;
}

#result{
  font-size: 25px;
  display: inline-block;
}

form{
  display: inline-block;
}

.hidden{
  visibility: hidden;
}

#partial{
  letter-spacing: 25px;
  font-size: 25px;
}

#definition{
  font-size: 20px;
  font-family: fantasy;
}

#tries, #num-guesses{
  display: inline;
}

#prev-tries{
  font-family: cursive;
}
